*{  
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: "Fira Sans", sans-serif;
    }
    
    *::selection {
        background-color: rgba(65, 183, 131, 0.5);
    }

    body {
        background-color: #35495E;
    }

    a {
        text-decoration: none;
    }

    header {
        display:flex;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;
        background-color: #2C3D4E;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    }

    header h1{
        color:white;
        font-size: 27px;
    }
    header h1 span {
        color: #42B883;
    }
