* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
*::selection {
	background: transparentize(#42B883, 0.5);
}
body {
  background-color: blanchedalmond;
}
body a {
	text-decoration: none;
}
body header {
	position: fixed;
	top: 10px;
	left: 10%;
	right: 10%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	padding: 10px 16px;
	margin: 10px 16px;
	background-color: #37251f;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
	z-index: 2;
}

body header .nav {
	width: calc(100% / 3);
}
body header .nav .logo {
	display: none;
	background-color: #6FB232;
	width: 28px;
	height: 28px;
	border-radius: 14px;
}
body header .nav h1 {
	color: #FFF;
	font-size: 28px;
	text-align: center;
}
body header .nav h1 span {
	color: #6FB232;
}
body header .nav h2 {
	color: #FFF;
	font-size: 23px;
	display: inline-block;
}
body header .nav img {
	width: 28px;
	height: 28px;
	margin: 0 10px;
	border-radius: 4px;
	cursor: pointer;
}
body header .nav .img {
	background-color: #6FB232;
}
body header .nav-left {
	display: flex;
	justify-content: left;
}
body header .nav-right {
	text-align: right;
	display: flex;
	flex-flow: row wrap;
	justify-content: right;
	align-items: center;
}
body header .nav-right h2 {
	cursor: pointer;
}
body .breakView {
	position: fixed !important;
	overflow: hidden;
}
body main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	min-height: 60vh;
	margin: 90px 0 20px;
	padding: 0 calc(10% + 16px);
}
body main .text-center {
	text-align: center;
	width: 100%;
}
body main .displayNone {
	display: none;
}
body main .user-image {
	text-align: center;
	width: 100%;
}
body main .user-image .user {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	background-color: #6FB232;
	cursor: pointer;
}
body main .user-image .user:hover {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
body main .form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1000px;
}
body main .form .form-group {
	margin: 1rem 0;
	width: 100%;
}
body main .form .form-group .form-label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
body main .form .form-group input {
	display: block;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	color: #212529;
}
body main .form .form-group .form-control {
	width: 100%;
	color: #000;
	font-size: 20px;
	background-color: #FFF;
	padding: 10px;
	border-radius: 0.375rem;
	margin-bottom: 15px;
	transition: 0.4s;
}
body main .form .form-group .form-control::placeholder {
	color: #a6acb0;
}
body main .form .form-group .form-control:focus {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
body main .container {
	width: 100%;
}
body main .container .title {
	width: 100%;
	margin: 10px 0;
	padding: 10px 0;
	text-align: center;
	font-size: 23px;
	color: #000;
	border: none;
	border-radius: 3px;
}
body main .container .title:focus {
	outline: none;
}
body main .container .desc {
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	font-size: 18px;
	border: none;
	border-radius: 3px;
	resize: none;
}
body main .container .desc:focus {
	outline: none;
}
body main #editorjs {
	width: 100%;
	min-height: 40vh;
	z-index: 1;
}
body main #editorjs textarea {
	resize: none;
}
body main #editorjs .cdx-attaches--with-file, .cdx-input, .tc-cell, .tc-row, .tc-table {
	border-color: #1e1e1e !important;
}
body main #editorjs .ce-block__content {
	max-width: 100% !important;
	padding: 0 20px;
}
body main #editorjs .ce-toolbar__content {
	max-width: 100% !important;
}
body main #editorjs .codex-editor__redactor {
	padding-bottom: 0 !important;
	margin-right: 0 !important;
}
body main #editorjs .image-tool--withBackground .image-tool__image {
	background-color: blanchedalmond !important;
}
body main .d-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	max-width: 1000px;
}
body main .d-flex .flex-fill {
	width: calc(100% / 2);
	padding: 0.5rem;
}
body main .d-flex .flex-fill .btn {
	width: 100%;
	border: none;
	outline: none;
	color: #FFF;
	background: #0d6efd;
	font-size: 1rem;
	padding: 0.5rem 0;
	border-radius: 0.375rem;
	cursor: pointer;
}
body main .d-flex .flex-fill .btn:hover {
	background: #1062de;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #FFF;
  z-index: 1;
  overflow: hidden;
}
.popup #box {
	height: 100vh;
}
.popup .body-flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.popup .body-flex span {
	cursor: pointer;
	color: #6FB232;
}
.active {
  animation-name: slide-in;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.nonActive {
  animation-name: slide-out;
  animation-duration: 2s;
  animation-fill-mode: both;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 16px;
	background-color: #37251f;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
footer h2 {
	color: #6FB232;
	font-size: 18px;
}
footer h2 span {
	color: #FFF;
}

@keyframes slide-in {
  from {height: 0vh; opacity: 0.3;}
  to {height: 100vh; opacity: 1;}
}
@keyframes slide-out {
  to {height: 0vh; opacity: 0.3;}
  from {height: 100vh; opacity: 1;}
}

@media (max-width: 1000px) {
	header {
		left: 15px;
		right: 15px;
	}
	main {
		padding: 0 32px;
	}
}
@media (max-width: 650px) {
	header {
		left: 10px;
		right: 10px;
	}
	header .logo {
		display: inline-block !important;
	}
	header .nav:nth-child(1) {
		width: 20%;
	}
	header .nav:nth-child(2) {
		width: 60%;
	}
	header .nav:nth-child(3) {
		width: 20%;
	}
	header .nav:nth-child(3) h2 {
		display: none;
	}
	main {
		padding: 0 26px;
	}
}
