main {
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 40vh;
}
main .btn-group {
	width: 100%;
	/* width: calc(100% - 20px);
	margin: 0 10px; */
}
main .btn-group .btn {
	width: 100px;
	border: none;
	outline: none;
	color: #FFF;
	background: #0d6efd;
	font-size: 1rem;
	padding: 0.5rem 0;
	border-radius: 0.375rem;
	cursor: pointer;
}
main .btn-group .btn:hover {
	background: #1062de;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
main .block {
	display: flex;
	width: 100%;
	min-height: 40vh;
	justify-content: center;
	align-items: center;
}
main .list {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	width: 100%;
	min-height: 40vh;
}
section {
	width: calc((100% / 5) - 20px);
	margin: 10px;
	border-radius: 0px 0px 16px 16px;
	transition-duration: 0.7s;
	cursor: pointer;
}
section img {
	width: 100%;
	height: 150px;
	background-color: #6FB232;
}
section h1 {
	padding: 5px 10px;
	max-height: 35px;
	overflow: hidden;
}
section .footer {
	display: flex;
	margin: 0 10px;
	align-items: center;
	justify-content: space-between;
}
section .footer h4 {
	font-size: 0.9rem;
	font-weight: normal;
}
section .footer h4 span {
	color: #6FB232;
	font-weight: bold;
}
section p {
	min-height: 64px;
	font-size: 15px;
	padding: 5px 10px;
	max-height: calc((15px * 3) + 18px);
	overflow: hidden;
	margin-bottom: 20px;
}
section:hover {
	box-shadow: 5px 5px 5px;
	transition-duration: 0.7s;
}

@media (max-width: 1300px) {
	section {
		width: calc((100% / 4) - 20px);
	}
}
@media (max-width: 1000px) {
	main {
		padding: 0 21px;
	}
	section {
		width: calc((100% / 3) - 20px);
	}
}
@media (max-width: 650px) {
	main {
		padding: 0 16px;
	}
	main .btn-group .btn {
		width: 100%;
	}
	section {
		width: calc((100% / 2) - 20px);
	}
}